.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/__pycache__/
**/*.pyc
**/*.pyo
.env
*.vsix
node_modules/
out/test/

